main{
    align-content: center;
    text-align: center;
}
footer{
    text-align: center;
}
.iglogo{
    padding-top:7vw;
    align-content: center;
}
.details{
    padding-top: 7vw;
}
.logindetails{
    width: 100%;
    border: 1px solid red;
}
main form{
    
    border: 1px solid gray ;
}